.tars {
	font: 40px Tahoma;
	color: #e7e7e7;
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.s {
	border-radius: 3px;
	size: 64px;
	border: 2px solid yellowgreen;
	width: 176px;

}
.a {
	border-radius: 3px;
	border: 2px solid red;
	width: 56px;
}
.f {
	display: inline-block;
  	transform: translate(8em, 2.7em);
	font: 24px Tahoma;
	color: #e7e7e7;
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.x {
	display: inline-block;
  	transform: translate(5em, 4.5em);
	font: 24px Tahoma;
	color: #e7e7e7;
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.c {
	display: inline-block;
  	transform: translate(-0.5em, 6.2em);
	font: 24px Tahoma;
	color: #e7e7e7;
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.gaga {
	gap: 40px;
	border: 5px solid black;
	margin: 20px;
	padding: 20px;
	color: rad;
	background: linear-gradient(120deg, purple, red, blue);
	margin-right: 120px;
}
.dada {
	gap: 40px;
	border: 5px solid black;
	margin: 20px;
	padding: 20px;
	color: rad;
	background: linear-gradient(120deg, purple, red, yellow);
	margin-right: 160px;
	margin-top: 250px
}
.lol {
	margin-left: 320px;
  	transform: translate(-13em, 1em);
	font: 21px Tahoma;
	color: #e7e7e7;
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}
.rara {
	margin-right: 160px;
	margin-top: 900px

}